.login {
  background-image: linear-gradient(
      208deg,
      #0b1c3a 26%,
      #152a6b 65%,
      #1a6b91 94%
    ),
    url(../../assets/img/1.png);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* or "cover" depending on your preference */
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hlogo {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.highlight {
  color: #e2e8f0;
}

.login .card {
  display: flex;
  width: 580px;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Blur effect for the background */
  border-radius: 2rem;
  overflow: hidden;
}

.shiny-effect {
  position: relative;
  overflow: hidden;
}
.shiny-effect:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 10%;
  height: 300%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: rotate(45deg);
  pointer-events: none;
  animation: shiny 3s ease-in-out infinite;
}

@keyframes shiny {
  0% {
    transform: translateX(-700%) rotate(45deg);
  }
  100% {
    transform: translateX(1500%) rotate(45deg);
  }
}

.login .card .left {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 19px;
  padding: 40px;
}

.login h2 {
  color: white;
  margin-top: 20px;
}

.login .card .left p {
  font-size: 0.9rem;
}
.login .card span {
  color: var(--color-primary);
}

.login .card .right {
  flex: 1;
  background-color: var(--color-primary);
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.login form {
  padding: 3rem;
}
.login form input {
  padding: 1rem 0;
  width: 100%;
  margin-left: auto;
  text-align: center;
  background: transparent;
  border: transparent;
  outline: none;
  border-bottom: 1px solid #ccc;
  margin-left: auto;
  color: #047ccb;
  margin-bottom: 5px;
}

.login form input::placeholder {
  color: #ccc;
  font-size: 1rem;
  text-transform: capitalize;
}

.footer {
  margin-top: 20px;
  font-size: 0.7em;
  color: #ccc;
}

.social-login {
  margin: 10px 0;
  transition: transform 0.2s;
}
.social-login a {
  color: #047ccb;
  text-decoration: none;
  font-size: 0.9em;
}

.social-login:hover {
  transform: scale(1.1);
}

.btn-login {
  background-color: #047ccb;
  color: white;
  margin-top: 30px;
}
