.left-bar {
  position: sticky;
  top: 5.4rem;
  height: 100vh;
  overflow: auto;
}

.left-bar::-webkit-scrollbar {
  display: none;
}

.left-container {
  width: 60%;
  margin-left: 15px;
}
.left-container .user {
  margin-top: 20px;
}

.left-container .item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}
.left-container .item img {
  width: 28px;
  margin-left: 5px;
}

hr {
  background: var(--color-border);
  border: none;
  height: 0.4px;
  margin-bottom: 20px;
}

.others {
  color: var(--color-soft);
  font-size: 0.9rem;
}

.userm {
  display: flex;
  justify-content: start;
  align-items: center;
}

.userm img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.footerl {
  margin-top: 85%;
  width: 65%;
  font-size: 0.7em;
  color: #ccc;
}

/*Play with media queri*/

@media (max-width: 1024px) {
  .left-container {
    width: fit-content;
  }
  .left-container h4 {
    display: none;
  }
}

@media (max-width: 991px) {
  .left-bar {
    display: none;
  }
  .left-container h4 {
    display: none;
  }
}
