.postForm {
  background: var(--color-card);
  padding: 20px;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 20px;
  color: var(--color-primary);
}

.postForm .form-top {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.form-top img {
  width: 40px;
  height: 40px;
}

.form-top {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--color-border);
  border-radius: 2rem;
  padding: 5px 10px;
}

.form-top input {
  border: none;
  outline: none;
  color: var(--color-primary);
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border-radius: 20px;
  background: var(--color-card);
  transition: padding-left 0.2s;
}

.form-top input::placeholder {
  padding-left: 10px;
  color: #e2e8f0;
}

.post-categories {
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
  padding: 1rem;
}

.post-categories input {
  display: none;
  height: 800px;
}

.post-categories span {
  transition: 0.3s ease;
}

.btn-pos {
  background: var(--color-primary);
  color: white;
  padding: 0.8rem 1.6rem;
  display: inline-block;
  cursor: pointer;
  border-radius: 2rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.3s ease;
  border: none;
  margin: auto;
  width: fit-content;
}

.btn-post:hover {
  opacity: 0.7;
}
