.signup {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hlogo {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.highlight {
  color: #e2e8f0;
}

.signup .card {
  display: flex;
  width: 580px;
  background: var(--color-card);
  border: 1px solid var(--color-border);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Blur effect for the background */
  border-radius: 2rem;
  overflow: hidden;
}

.shiny-effect {
  position: relative;
  overflow: hidden;
}
.shiny-effect:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 10%;
  height: 300%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: rotate(45deg);
  pointer-events: none;
  animation: shiny 3s ease-in-out infinite;
}

@keyframes shiny {
  0% {
    transform: translateX(-700%) rotate(45deg);
  }
  100% {
    transform: translateX(1500%) rotate(45deg);
  }
}

.signup .card .left {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 19px;
  padding: 40px;
}

.signup h2 {
  color: white;
  margin-top: 15px;
}

.signup .card .left p {
  font-size: 0.9rem;
}
.signup .card span {
  color: var(--color-primary);
}

.signup .card .right {
  flex: 1;
  background-color: var(--color-primary);
  align-items: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.signup form {
  padding: 3rem;
}
.signup form input {
  padding: 1rem 0;
  width: 100%;
  margin-left: auto;
  text-align: center;
  background: transparent;
  border: transparent;
  outline: none;
  border-bottom: 1px solid #ccc;
  margin-left: auto;
  color: #047ccb;
  margin-bottom: 5px;
}

.signup form input::placeholder {
  color: #ccc;
  font-size: 1rem;
  text-transform: capitalize;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  color: var(--color-primary);
}

.login-link p {
  color: #ccc;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.login-link a {
  color: var(--color-highlight);
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  color: #047ccb;
  text-decoration: underline;
}

.success-message {
  color: #d9ebda;
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: center;
}

.success-message a {
  color: var(--color-highlight);
  font-weight: bold;
  text-decoration: none;
}

.success-message a:hover {
  color: #047ccb;
  text-decoration: underline;
}

.footer {
  margin-top: 20px;
  font-size: 0.7em;
  color: #ccc;
}

.btn-login1 {
  background-color: #047ccb;
  color: white;
}
