.profile-post-form {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: white;
}

.post-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  color: #6864b8;
  cursor: pointer;
}

.btn-post {
  padding: 0.5rem 1rem;
  background-color: #6864b8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-preview img {
  max-width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

.btn-remove {
  background-color: red;
  color: white;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 5px;
}
